@model proiect.Models.Category
@{
                /**/

                ViewBag.Title = "Show category";
}
<h2>@ViewBag.Title</h2>
<p>@Model.CategoryName</p>

@foreach (proiect.Models.Photo photo in ViewBag.Photos)
{
<div class="panel panel-default">
    
    <div class="panel-body">
        Description: <strong>@photo.Description</strong>
        <br />
        <span class="label label-success">@photo.Date</span>

        @*<i class="glyphicon glyphicon-user"></i> <i>articol scris de</i>
        <strong> @Model.User.UserName </strong>*@
    </div>
</div>
    <br />
}

@using (Html.BeginForm(actionName: "Delete", controllerName: "Category", routeValues: new { id = @Model.CategoryId }))
{

    @Html.HttpMethodOverride(HttpVerbs.Delete)

    <button class="btn btn-success" type="submit">Delete category</button>
}
<br />
<a class="btn btn-success" href="/Category/Index">Back</a>
<br />
<hr />
<br />